.nb-frontpage {
    display: table;
    width: 100%;
    height: 100vh;
    padding-top: $navbar-height;
    background-color: #101651;
    color: #fff;
    
    background: -moz-linear-gradient(top, #372a73 0%, #101651 100%);
    background: -webkit-linear-gradient(top, #372a73 0%,#101651 100%);
    background: linear-gradient(to bottom, #372a73 0%,#101651 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#372a73', endColorstr='#101651',GradientType=0 );
    
    h2 {
        margin-top: 0;
    }
    
    .nb-content {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
    }
    
    .nb-holder {
        padding: 20px 0;
    }
    
    .nb-more {
        border: 5px solid #fff;
        background-color: transparent;
        color: #fff;
        transition: background-color .25s ease-in-out;
        
        &:hover {
            background-color: white;
            color: #101651;
            transition: background-color .25s ease-in-out;
        }
    }
}